// -----------------------------------------------Common CSS properties as per design file-----------------------------------------------
// Font-family specifics
@Poppins-FF: "Poppins";

// Font-weight specifics
@SemiBold-FW: 600;
@Medium-FW: 500;

// Font-size specifics
@FS-1: 60px;
@FS-2: 30px;
@FS-3: 18px;
@FS-4: 12px;

// Line-height specifics
@LH-1: 68px;
@LH-2: 44px;
@LH-3: 35px;
@LH-4: normal;

// Color specifics
@CroutonWhite: #FFFFFF;
@CroutonGrey: #645F5F;
@CroutonOrange: #FFAA81;
@CroutonOff: #E5E9E1;

 // Letter-spacing specifics
@LS-1: 0.1em;
// -----------------------------------------------End (Common CSS properties as per design file)-----------------------------------------------



// -----------------------------------------------Mixins for commonly used CSS code-----------------------------------------------
.fontStyle(@fontSize, @fontWeight, @fontColor, @lineHeight: @LH-4) {
    font-family: @Poppins-FF;
    font-size: @fontSize;
    font-weight: @fontWeight;
    line-height: @lineHeight;
    color: @fontColor;
}

.headerFormatStyle(@fontSize, @lineHeight) {
      span:nth-child(1) {
          display: block;
      }
      span.first-headline {
            .fontStyle(@fontSize, @SemiBold-FW, @CroutonWhite, @lineHeight);
      }
      span.next-headline {
            .fontStyle(@fontSize, @SemiBold-FW, @CroutonGrey, @lineHeight);
      }
}

.common-button-props {
    outline: none;
    border: none;
    background: none;
}

.disable-hyperlink-styles {
      text-decoration: none;
      color: @CroutonGrey;
}

.center-element {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
// -----------------------------------------------End (Mixins for commonly used CSS code)-----------------------------------------------



// -----------------------------------------------Base styles for Mobile devices (Mobile first responsive design approach)-----------------------------------------------
h1 {
    margin-top: 0px;
    margin-bottom: 5px;
    .headerFormatStyle(@FS-1, @LH-1);
}

h2 {
  .headerFormatStyle(@FS-2, @LH-2);
}

h3 {
    .fontStyle(@FS-3, @Medium-FW, @CroutonGrey);
}

p {
    .fontStyle(@FS-3, @Medium-FW, @CroutonGrey, @LH-3);
}

form {
    input {
        border: none;
        border-bottom: 1px solid @CroutonOff;
        background-color: @CroutonGrey;
        .fontStyle(@FS-3, @Medium-FW, @CroutonWhite);
        padding: 10px 0px;
        margin: 10px 0px 20px 0px;
        outline: none;
        width: 90%;
        border-top-right-radius: 7px;
        border-top-left-radius: 7px;
        &:focus {
            border-bottom: 1px solid @CroutonOrange;
            background-color: @CroutonGrey*.9;
        }
    }
    input:nth-child(3) {
      margin-bottom: 40px;
    }
}

footer {
    background-color: @CroutonGrey;
    padding: 40px 0px;
    img, label {
      padding: 7px 10px;
      .center-element;
      text-align: center;
    }
}

.header-one {
    background-color: @CroutonOrange;
    position: relative;
}

.navbar-container {
    padding: 10px;
    background-color: @CroutonOrange;
    right: 0;
    left: 0;
    margin: 0px;
    position: fixed;
    z-index: 2;
    top: 0;
    li {
      display: inline;
      list-style-type: none;
    }
}

.nav-item {
    .fontStyle(@FS-3, @SemiBold-FW, @CroutonGrey);
    padding-left: 10px;
    span {
      color: @CroutonWhite;
    }
    a {
      .disable-hyperlink-styles;
    }
}

.navbar-title-image {
    width: 100px;
    height: 20px;
    vertical-align: baseline;
}

.header-one-content {
    padding-top: 75px;
    margin-left: 18px;
    text-align: left;
    padding-bottom: 200px;
}

.header-two-content {
    .header-one-content;
    padding-bottom: 75px;
    padding-top: 175px;
}

.header-h1-position {
    margin: 22px 0px;
}

.cta-button {
    .fontStyle(@FS-3, @SemiBold-FW, @CroutonGrey);
    letter-spacing: @LS-1;
    .common-button-props;
    cursor: pointer;
}

.right-arrow-image {
    width: 55px;
    height: 35px;
    vertical-align: middle;
}

.fine-print {
    .fontStyle(@FS-4, @Medium-FW, @CroutonOff);
}

.header-two {
    background-color: @CroutonOff;
}

.header-three {
      background-color: @CroutonGrey;
}

.main-image-container {
    position: absolute;
    background-color: @CroutonOff;
    width: 256px;
    left: 45%;
    margin-left: -120px;
}

.main-image {
    .center-element;
    height: 275px;
    margin-top: -150px;
}

.orange-header {
    color: @CroutonOrange !important;
}

.cta-button-contact {
      .cta-button;
      color: @CroutonOrange;
      text-align: left;
}

.header-three-content {
    .header-one-content;
    padding-bottom: 0px;
}

// Placeholder color for different browser support
::-webkit-input-placeholder {
  color: @CroutonWhite;
}
::-moz-placeholder {
  color: @CroutonWhite;
}
:-ms-input-placeholder {
  color: @CroutonWhite;
}
:-moz-placeholder {
  color: @CroutonWhite;
}
// -----------------------------------------------End (Base styles for Mobile devices)-----------------------------------------------



// -----------------------------------------------Media queries for different screen resolutions and orientations-----------------------------------------------
// Small screen (min: 768px & max: 1024px) tablet portrait styles.
.sm-tablet-portrait {
  .navbar-container {
      padding: 15px 65px;
  }

  .nav-item {
      padding-left: 40px;
    }

  .header-one-content, .header-three-content, .header-two-content {
      padding-left: 50px;
      padding-right: 50px;
  }

  .header-two-content {
      padding-top: 150px;
  }

  .header-one-content {
      padding-top: 150px;
      padding-bottom: 400px;
  }

  .main-image-container {
      left: 40%;
  }

  .main-image {
      height: 400px;
      margin-top: -300px;
      width: 400px;
  }

  footer {
    div {
        margin: auto;
        width: 50%;
        padding-top: 75px;
        text-align: center;
    }
    img {
        width: 70px !important;
        height: 13px !important;
        vertical-align: top !important;
    }
    img, label {
      display: inline-block;
    }
  }

  form {
      .center-element;
      width: 75%;

      button {
        display: block;
      }
  }
}
@media only screen
  and (min-width: 768px)
  and (max-width: 1024px)
  and (orientation: portrait)  {
    .sm-tablet-portrait;
}

// Small screen (min: 768px & max: 1024px) tablet landscape styles.
.sm-tablet-landscape {
  .sm-tablet-portrait;

  .navbar-container {
      padding: 15px 65px;
  }

  .nav-item {
      padding-left: 50px;
    }

  .header-one-content {
      padding-top: 200px;
      padding-bottom: 50px;
      button {
          padding-top: 20px;
      }
  }

  .header-h1-position {
      width: 45%;
  }

  .main-image-container {
      left: 60%;
  }

}
@media only screen
  and (min-width: 768px)
  and (max-width: 1024px)
  and (orientation: landscape)  {
    .sm-tablet-landscape;
}

// Large screen (min: 1025px & max: 1366px) tablet portrait styles.
.lg-tablet-portrait {
  .sm-tablet-portrait;

  .header-one-content {
      padding-top: 180px;
      padding-bottom: 450px;
  }

  .header-two-content {
      padding-top: 180px;
  }

  .main-image-container {
      left: 36%;
  }

  .main-image {
      width: 500px;
      height: 500px;
      margin-top: -380px;
  }
}
@media only screen
  and (min-width: 1025px)
  and (max-width: 1366px)
  and (orientation: portrait) {
    .lg-tablet-portrait;
}

// Large screen (min: 1025px & max: 1366px) tablet landscape styles.
.lg-tablet-landscape {
    .sm-tablet-landscape;

    .main-image {
        width: 500px;
        height: 500px;
        margin-top: -400px;
    }

    .header-two-content {
        position: relative;

        div.header-h1-position {
            position: absolute;
            right: 9%;
            width: 40%;
            top: 480px;
        }

        div.header-h2-position {
            width: 400px;
        }

        p {
            position: absolute;
            top: 225px;
            right: 9%;
            width: 40%;
        }
    }

    .header-three-content {
        position: relative;
        div.header-h1-position {
            width: 400px;
            display: inline-block;
        }
        div.contact-us-container {
            position: absolute;
            display: inline-block;
            right: 125px;
            top: 100px;
            width: 40%;
            form {
               display: inline;
                input:nth-child(1), input:nth-child(2) {
                    display: inline;
                    width: 100%;
                    margin-left: 20px;
                }
                input.message-input-field {
                  margin-left: 20px;
                  width: 100%;
                }
            }
          }
        button.cta-button-contact {
            padding-left: 20px;
            padding-top: 20px;
        }
      }
}
@media only screen
  and (min-width: 1025px)
  and (max-width: 1366px)
  and (orientation: landscape)  {
      .lg-tablet-landscape;
  }

// Desktop and large screen (min: 1367px) styles.
.desktop-styles {
    .lg-tablet-landscape;

    .navbar-container {
        padding-top: 25px;
        padding-bottom: 25px;
        padding-left: 12%;
    }

    .header-one-content, .header-two-content, .header-three-content {
        padding-left: 11%;
    }

    .header-one-content {
        padding-top: 350px;
    }

    .main-image {
        width: 600px;
        height: 600px;
        margin-top: -185%;
    }

    .header-two-content {
        padding-top: 250px;

        div.header-h1-position {
            right: 9%;
            width: 40%;
            top: 510px;
        }

        p {
            top: 320px;
            right: 9%;
            width: 40%;
        }
    }

    .header-three-content {
        div.contact-us-container {
            left: 49%;
          }

          div.contact-us-container {
              right: 150px;
              top: 33%;
              form {
                  input:nth-child(1), input:nth-child(2) {
                      width: 250px;
                  }
                  input.message-input-field {
                    width: 520px;
                  }
              }
            }

      }

      footer {
        padding-top: 5px;
        padding-bottom: 60px;
        div {
            margin: none;
            width: 400px;
            padding-left: 9%;
        }
      }
}
@media only screen
    and (min-width: 1367px) {
        .desktop-styles;
    }
// -----------------------------------------------End (Media queries for different screen resolutions and orientations)-----------------------------------------------
